@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

div[data-rehype-pretty-code-fragment] {
  overflow: auto;

  /* stylist preferences */
  border-radius: 0.5rem;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  scrollbar-width: auto;

  /* stylist preferences */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
