---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greetings.jsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Altfcat Blog</h2>
  <h3>COUNTRYNAME</h3>
  <Greeting
    client:load
    messages={["Hi", "Hello", "Howdy", "Hey There", "Meow", "Unicrond"]}
  />
</BaseLayout>
