---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello, I'm a Software Engineer based in France!";
---

<BaseLayout pageTitle={pageTitle}>
  <h4>Welcome Visitor from COUNTRYNAME !</h4>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus lacus
  non nibh ultricies, quis porttitor sem tempor. Nulla consectetur lacus vitae
  dui sodales condimentum. Donec fringilla eros eget rhoncus molestie. Lorem
  ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar enim non mollis
  mollis. Donec placerat neque vel tellus tincidunt, ac ullamcorper nunc cursus.
  Donec id nunc orci. Nullam lobortis tempor vestibulum. Aliquam orci lectus,
  maximus id tincidunt a, finibus nec felis. Phasellus congue lacinia iaculis.
  Ut elementum ipsum id sem auctor faucibus. Curabitur non quam euismod, laoreet
  metus sed, tempor lectus. Donec aliquam odio id leo posuere, sed posuere nulla
  lobortis. Curabitur risus dolor, posuere non ante at, lacinia viverra tortor.
  Integer tincidunt, nunc sit amet porta viverra, sem magna volutpat nisi, non
  feugiat nisi sem sit amet odio. Duis ac nibh rhoncus, tempus felis at,
  consectetur nisi. Curabitur libero neque, convallis ut rhoncus vehicula,
  aliquam id velit. Aenean mi dui, maximus sed nunc quis, rhoncus facilisis
  urna. Phasellus id semper sem. Vivamus luctus, magna sit amet elementum
  ullamcorper, sapien lorem bibendum velit, non interdum orci ex ac risus.
  Vivamus aliquam in ante vitae egestas. Pellentesque efficitur nunc at quam
  elementum, et vestibulum neque egestas. Mauris a suscipit nisl, a tincidunt
  est. Sed suscipit malesuada tincidunt. Morbi tristique gravida mi non finibus.
  Donec at facilisis arcu, at ultrices massa. Aliquam lectus metus, accumsan
  vitae convallis sit amet, elementum et leo. Pellentesque at lectus nulla. Duis
  commodo tortor fermentum lorem placerat efficitur. Aenean ornare velit a enim
  porttitor, quis accumsan mi eleifend. Vivamus fringilla bibendum purus finibus
  volutpat. Aliquam pharetra euismod orci, a condimentum justo venenatis in.
  Quisque aliquet est id porta aliquet. Morbi sapien eros, sodales ac tristique
  id, sollicitudin non purus. Pellentesque consequat nisl id quam scelerisque
  rhoncus. Cras pulvinar, velit non condimentum egestas, mauris justo
  pellentesque nisi, ut tristique erat mi eget nisi. Morbi nec neque tincidunt,
  gravida ante ut, facilisis metus. Aliquam vestibulum turpis a lacus pretium
  mattis eu eu nunc. Donec nunc dolor, tempus eget tellus vitae, pulvinar
  malesuada ex. Nulla id massa ac orci lobortis volutpat. Duis ullamcorper
  tellus sit amet dolor laoreet dignissim. Aliquam at augue tincidunt, finibus
  dui facilisis, finibus felis. Curabitur lectus erat, tincidunt tempus porta
  sit amet, sagittis in dolor. Morbi lacinia tempor faucibus. Curabitur ac lacus
  pulvinar, maximus est in, imperdiet metus. Praesent lorem est, fermentum nec
  vulputate vitae, facilisis nec velit. Sed id quam nisl. Curabitur congue,
  turpis et congue dignissim, leo risus tristique ante, at tristique nisi turpis
  sit amet neque. Fusce eget augue ornare, blandit ex in, elementum urna. Cras
  et massa ut eros porta tempor nec vitae mauris. Sed vitae suscipit justo.
  Quisque aliquam enim vel quam maximus, fringilla fermentum purus porta.
  Vivamus a erat dui. Aliquam ac urna id sapien condimentum iaculis. Fusce ut
  turpis ut lectus varius lobortis. Integer id dignissim lectus. Nullam risus
  risus, dapibus sit amet arcu et, hendrerit vulputate quam.
</BaseLayout>
