---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    justify-content: center;
    opacity: 0.4;
  }
</style>

<footer>
  <div>© 2023 Benoit Laurent. All rights reserved.</div>
</footer>
