---
---

<style>
  .nav-title {
    display: flex;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 0.1rem;
  }
  .nav-title a p {
    color: var(--ctp-latte-text);
  }
  .nav-title a span {
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
  }

  .nav-title img {
    border-radius: 0.5rem;
  }

  @media screen and (min-width: 48em) {
  }
</style>

<div class="nav-title">
  <a href="/">
    <span>
      <img src="/93489351.png" width="40" height="40" />
      <p class="title">Benoit Laurent</p>
    </span>
  </a>
</div>
