---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main class="main-content">
      <canvas></canvas>
      <article>
        <h3 class="base-title">{pageTitle}</h3>
        <div class="article-content"><slot /></div>
      </article>
    </main>
    <Footer />
  </body>

  <style>
    body {
      background-color: var(--ctp-latte-base);
    }

    .main-content {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-flow: column wrap;
      padding: 30px;
    }

    .main-content a {
      display: flex;
      gap: 10px;
    }

    .base-title {
      border-radius: 0.5rem;
      padding: 10px;
      text-align: center;
      background-color: var(--ctp-latte-mantle);
    }

    .article-content {
      width: 100%;
      max-width: 60ch;
      text-align: justify;
      display: block;
      /* text-indent: 1em; */
    }
  </style>
</html>
